/* * {
    margin: 0;
    padding: 0;
  }
  
  .PropertyCard {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0a1121;
    padding: 10px;
    border-radius: 20px;
    color: white;
    transition: all 0.5s ease-out;
    text-decoration: none;
  }
  
  .PropertyCard:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    cursor: pointer;
    scale: 1.1;
  }
  
  .PropertyCard img {
    width: 100%;
    height: 50%;
  }
  
  .PropertyCard .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
  
  .PropertyCard .title-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .PropertyCard .title-value .value {
    padding: 5px;
    width: fit-content;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 80, 0, 0.7);
    border-radius: 20px;
  }
  
  .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }*/
  
  #delete-btn {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  #delete-btn:hover {
    color: red;
  } 