.UpdateGympage {
  padding: 50px;
  background: linear-gradient(to right, #2f70cc, #255369);
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  box-sizing: border-box;
}
.left {
  display: flex;
  flex-direction: column;
  margin-left: 140px;
}
.right {
  height: 770px;
  width: 660px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.right h3 {
  margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.left button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 80;
  color: #222;
  background: #f5f5f5;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
.popupCreateGym {
  width: 550px;
  padding: 20px 30px;
  padding-left: 60px;
  padding-bottom: 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.popupCreateGym .form h2 {
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}
.popupCreateGym .form .form-element {
  margin: 15px 0px;
}
.popupCreateGym .form .form-element label {
  font-size: 14px;
  color: #222;
}
.popupCreateGym .form .form-element input[type="text"],
.popupCreateGym .form .form-element input[type="password"],
.uploadimage {
  margin-top: 5px;
  display: block;
  width: 90%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.popupCreateGym .form .form-element button {
  width: 90%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: #222;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}
.popupCreateGym .form .form-element a {
  display: block;
  text-align: reight;
  font-size: 15px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 600;
}
#mytextarea {
  width: 415px;
}
.popupCreateGym .close-btn {
  width: 20px;
  height: 20px;
  display: flex;
  right: 0;
  justify-content: center;
  align-self: flex-end;
  background: #888;
  color: #eee;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
.popupCreateGym .closebtnn {
  display: flex;
  justify-content: end;
}
